body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"微软雅黑","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#00c1de;text-decoration:none;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

.wrap{width: 100%;position: relative;}
.warpTop{min-width: 1000px;width: 100%;position: absolute;top: 0;left: 0;background-color: rgba(50,50,50,0.5);z-index:9999;}
.topUp{width: 100%;height: 40px;border-bottom: 1px solid hsla(0,0%,100%,.15);}
.top_l{/*width: 50%;*/}
.topLeft{float: left;width: 80px;margin-top: 10px;margin-left: 20px;position: relative;}
.topLeft img{width: 100%;}
.topLeft span{position: absolute;top: 0;left: 0;}
.topRight{float: right;height: 40px;}
.search{float: left;line-height: 40px;position: relative;margin-right: 25px;}
.open_text_cearch{
transition: width 2s;
-moz-transition: width 2s;	/* Firefox 4 */
-webkit-transition: width 2s;	/* Safari 和 Chrome */
-o-transition: width 2s;	/* Opera */
width:0px;border: 0;height: 25px;padding:2px 0;background-color: #333;color: #333;border-radius: 3px;
padding-left: 25px;outline:none;display: none;}
.location{position: absolute;left: 5px;top: 0;}
.warpTop:hover{background-color: #333}


.topMenu{float: right;}
.topMenu ul li{float: left;padding: 0 12px;font: 14px/40px "微软雅黑";color: #fff;}
.topMenu ul li a{font: 14px/40px "微软雅黑";color: #fff;}
.topMenu ul li a:hover{color: #00a2ca}
.topMenu ul li.one{position: relative;}
.topMenu ul li.one:hover{background-color:#272b2f}
.icon-left{margin-right: 5px;}
.icon-right{margin-left:5px;}
.menu_tips{position: absolute;background-color: #272b2f;width: 170px;z-index: 999;top: 40px;left: 0;display: none;}
.menu_tips li{padding: 0 5px;}
.menu_tips li a{line-height: 30px;height: 30px;font-family: "Arial Narrow"!important;}
.menu_tips li.menu_tips_one a{color:#00a2ca}

.topdown{min-width: 1000px;width: 100%;height: 60px;/*background-color:#24282d;*/border-bottom: 1px solid hsla(0,0%,100%,.15);}
.nav_menu li{float: left;}
.nav_menu li a{font: 14px/60px "微软雅黑";color: #fff;display: inline-block;padding: 0 20px;}
.nav_menu li{position: relative;}
/*产品下拉*/
.nav_product{width: 100%;min-width: 1000px;background-color: #272b2e;position: absolute;top: -889px;}
.product_nav{padding: 25px 20px;background-color: #2f3438;overflow: auto;}
.product_navLeft{float: left;}
.product_navRight{float: right;color: #fff;}
.product_navLeft a{padding: 0 5px;color: #fff;}
.product_navLeft a.color_c{color: #96999c}
.procudt_content{width: 100%;}
.pro_list{width: 18%;float: left;margin-right: 20px;}
.pro_list h3{padding: 5px 5px 0 20px;color: #fff;height: 25px;float: left;width: 100%;}
.pro_list li.box-line{background-color: #4d5154;height: 1px;width: 200px;margin-left: 20px;margin-top: 10px;}
.pro_list li a{font:12px/25px "微软雅黑";color: #c3c5c6;}
.pro_list li:first-child{padding: 5px 0;}
.pro_list li{width: 100%;}
.pro_list_two{float: left;}
.nav_menu li:hover .nav_product{top: 102px;transition: top 3s;
-moz-transition: top 2s;	/* Firefox 4 */
-webkit-transition: top 2s;	/* Safari 和 Chrome */
-o-transition: top 2s;	/* Opera */}


.whole{position: relative;}
.whole a:hover{background-color: #00c1de}
.whole a{font: 14px/60px "微软雅黑";color: #fff;padding: 0 20px;float: left;}
/*全部导航*/
.nav_list {background-color: #272b2e;width: 200px;float: left;border-right: 1px solid hsla(0,0%,100%,.15);height: 519px;}
/*.nav_listone ul{position: relative;}*/
.nav_list li{padding: 6px 20px;height: 24px;}
.nav_list li a{font: 14px/24px "微软雅黑";color: #fff;width: 100%;padding: 0}
.nav_list li a:hover{color:#00c1de;background-color: #272b2e}
.nav_listone ul.nav_ul{position: relative;}
.icon-float-right{float: right;}
.government{display:block;width:145px;height: 24px;font: 14px/24px "微软雅黑";color: #fff;border-top: 1px solid hsla(0,0%,100%,.15);margin-left: 20px;padding: 6px 0;}
.government:hover{color:#00c1de }
.customer{font: 14px/24px "微软雅黑";color: #fff;width: 100%;padding: 6px 20px;margin-top: 50px;display:block;}
/*导航之类*/
.nav_listone{position: absolute;top: 60px;left: -201px;}
.nav_listfore{position: absolute;top: 0;left: -201px;}
/*.ul li:hover .nav_listfore{left: -201px;}*/
/*.start li:nth-child(5){border-bottom: 1px solid #ccc;}*/
.nav_listfive{position: absolute;top: 0;left: -601px;padding:0 5px;width: 390px;}

.whole:hover .nav_listone{left: 0px;}
.nav_listone li:hover .nav_listfore{left: 201px;}
.nav_listfore li:hover .nav_listfive{left: 201px;}
.nav_listfore li:hover .last_list{left: 601px;}






.nav_listfive h3{color: #fff;font-size: 16px;padding-left: 5px;}
.nav_listfive li{padding:6px 10px;}
.nav_listfive li a{padding: 5px;}
.nav_listfive li a:hover{background: #333;}
.nav_listfive li a span{font-size: 12px;padding-left: 5px;}
.nav_listfive li a span.t2{color: #999;}
.nav_listfive li:hover{}
.new{width: 28px;display: inline-block;margin-left: 5px;vertical-align: middle;}
.new img{width:100%;vertical-align: middle;}
.nav_listfive li span{display: block;}
.hot_img{position: absolute;top:4px;right: 15px;width: 24px;}
.hot_img img{width: 100%;}

.last_list{height:507px;background-color: #303538;position: absolute;width: 241px;background: url(../images/lastlistbg.png) no-repeat top;left: -601px;top: 0;padding: 6px 20px;}
.last_list p{font: 14px/35px "微软雅黑";border-bottom: 1px solid #ccc;color: #9b9ea0;margin-bottom: 10px;}

.last_list  ul.last_ul li{padding: 6px 0;height: 25px;line-height: 34px;}
.last_list  ul.last_ul li a{font-size: 12px;padding: 0}
.last_list  ul.last_ul li a:hover{background:rgba(0,0,0,0.0)}

.nav_right{padding: 0 20px;float: right;font: 14px/60px "微软雅黑";color: #fff;background-color: #00c1de}




.line{position: absolute;
width: 0;
height: 3px;
left: 119px;
bottom: 0;
background: #00c1de;
transition: width .3s cubic-bezier(.4,0,.2,1);width: 0px;}


.sliderw{position: relative;min-width: 1200px;}
.slider{min-width: 1000px;width: 100%;background-color: #000;height: 640px;}
.slider img{height: 640px;}
.listmenu{height: 100px;position: absolute;min-width: 1000px;width: 100%;bottom:0px;background: #2d3035;background-color: hsla(0,0%,100%,.1);z-index: 999;}
.listbg{max-width: 1200px;margin: 0 auto;}
.listbg ul li{width: 20%;float: left;position: relative;}
.listbg ul li a{padding: 30px 0px 30px 68px;display:block;border-left: 1px solid #727577;border-color: hsla(0,0%,100%,.06);}
.listbg ul li:last-child a{border-right: 1px solid #727577;border-color: hsla(0,0%,100%,.06)}
.listbg ul li a img{width: 32px; position: absolute;left: 22px;top: 32px;}
.listbg ul li a p{color: #fff;font-size: 16px;font-weight: bold;}
.listbg ul li a span{color: #fff;font-size: 14px;}
.listbg ul li a:hover{background-color: hsla(0,0%,100%,.06);
text-decoration: none;
border-color: transparent!important;transition:all 0.3s;}
.content{width:100%;min-width: 1200px;overflow: hidden;}
.content_top{max-width: 1200px;margin: 0 auto;text-align: center;padding-top: 32px;}
.content_top img{width: 130px;}
.content_top h2{color: #373d41;font-weight: 500;padding: 10px 0;}
.content_top p{color: #373d41;font-size: 14px;}
.content_top p:hover{color: #00a2ca;transition: all 0.3s}

.contlist{min-width: 1200px;margin: 0 auto;margin-bottom: 20px;width: 100%;}
.col-5{margin: 10px 0;}
.col-5 ul{position: relative;overflow: auto;width: 1200px;margin: 0 auto;}
.col-5 ul li{width: 20%;float: left;padding: 15px 29px;box-sizing:border-box;text-align: center;}
.col-5 ul li img{width: 80px;height: 80px;}
.col-5.c3{display: none;}
#triangle-up {
width: 0;
height: 0;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-bottom: 10px solid #f5f5f6;
position: absolute;
left: 0;
bottom: 0;
display: block;
}
.box{width: 100%;}
.box div.sbox{display: none;background-color: #f5f5f6; }
#c1 li:hover p{color:rgb(0, 193, 222);transition: all 0.3s}

.boxwrap{width: 1200px;margin: 0 auto;padding:20px 0;overflow: hidden;}
.item{width: 100%;margin-bottom: 22px;}
.item p{font: 16px/30px "微软雅黑";font-weight:bold; color: #373d41;padding-top: 5px;}
.item span{font-size: 12px;color: #9b9ea0;display: block;padding-top: 5px;}
.item i.newitem{margin-top: -3px;vertical-align: top;}
.itemlist i.newitem img{height: 12px;width: 28px;float: left;}
.item a{display: block;width: 96px;height: 28px;border: 1px solid #373d41;text-align: center;line-height: 28px;margin-top: 10px;}
.item-col{width: 30%;float: left;}
.itemlist{float: left;width: 70%;}
.itemlist ul{width: 100%;}
.itemlist ul li{width: 45%;text-align: left;padding: 10px 15px;margin: 2px;margin-right: 3%;position: relative;}
.itemlist ul li:hover{background-color: #fff;box-shadow: 0px 0px 15px #ccc;transition: all 0.3s}
.itemlist ul li:hover .icon-colore{display: block;transition: all 0.4s}
.itemlist ul li a{font-size: 14px;color: #373d41;line-height: 24px;}
.itemlist ul li span{display: block;color: #9b9ea0;font-size: 12px;}

.itemlist.item2{width: 100%;}
.itemlist.item2 ul{width: 100%;}
.itemlist.item2 ul li{width: 30%;}

.icon-colore{color:#999;position: absolute;right: 10px;top: 20px;display: none;}
.more{width: 120px;height: 36px;margin: 35px auto;border: 1px solid #373d41;text-align: center;line-height: 36px;}
.more:hover{border: 1px solid #00c1de;color: #00c1de;transition:all 0.3s;}


/*轮播左右*/
/*.friend{height:413px;margin:0 auto;overflow:hidden;width:100%;position: relative;margin-bottom: 20px;}
.mr_frbox{height:407px;}
.mr_frBtnL{cursor:pointer;display:inline;float:left;height:46px;margin:160px 10px 0 0;width:28px;position: absolute;}
.mr_frUl{float:left;height:202px;/*width:1047px;*/}
/*.mr_frBtnR{float:right;margin-top:160px;cursor:pointer;width:28px;height:46px;}
.mr_frUl ul li{display:inline;float:left;/*height:389px;*/max-width:288px;min-width:236px;overflow:hidden;position:relative;min-height: 344px;}
/*.mr_frUl ul li a img{display:block;width:100%;}
.mr_zhe{height:413px;max-width:288px;min-width:236px;position:absolute;top:0;background:rgba(22, 26, 29, 0.65) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/filter:Alpha(opacity=80);background:#4ea4b5;/*实现IE背景透明*//*height:389px;*/left:0;right:0;}
/*.mr_zhe_i img{height:59px;margin-top:72px;margin-bottom:64px;}*/
/*.mr_zhe_i{width: 25%;margin:0 auto;}*/
.mr_zhe_1{text-align: center;}
.mr_zhe_p{margin-bottom:60px;}
.mr_zhe_p h3{text-align:center;font-size:15px;font-weight:bold;color:#fff;line-height:30px;}
.mr_zhe_p h3 span{display:block;margin:0 auto;width:260px;font-size:18px;}
.mr_zhe_hover{bottom:0;height:413px;position:absolute;max-width:288px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明filter:Alpha(opacity=80);background:#0a0a0a;/*实现IE背景透明*/}
.mr_zhe_hover h1{text-align:center;height:40px;line-height:40px;margin:22px 0;color:#fff;}
.hline{width: 45px;height:3px;margin: 0 auto;margin-bottom: 35px;background-color: #fff;}



.lunbo{width: 100%;margin: 20px auto;overflow: hidden;}
.lunbowrap{position: relative;min-width: 1200px;margin: 0 auto;}
.lunbowrap ul li{width: 269px;height: 392px;float: left;position: relative;}
.lunbowrap ul li img{width: 100%;}
.not,.not-hover{position: absolute;text-align: center;width: 100%;height: 100%;}
.not{top: 0;display: block}
.mask{width: 100%;height: 100%;background:rgba(0,0,0,0.6);position: absolute;top: 0;left: 0}
.icon-not{width: 67px;margin: 0 auto;margin-top: 80px;margin-bottom: 20px;}
.line-not{width: 24px;height: 2px;background-color: #fff;margin: 0 auto;}
.text-not{font: 18px/25px "微软雅黑";color: #fff;padding: 20px 0;font-weight: 400;}
.text-not1{padding: 0;}
.textb{font: 14px/20px "微软雅黑";color: #fff;margin-top: 15px;padding: 0 20px;}
.not-hover{bottom: -310px;display: block;}
.item-link{border: 1px solid #fff;width: 120px;height:36px;display: block;line-height: 36px;color: #fff;margin: 0 auto;margin-top: 30px;}
.lunbowrap ul li:hover .mask{transition: all 0.4s;background-color: rgba(0,193,222,0.8)}
.lunbowrap ul li:hover .not-hover{bottom: 0;transition: all 0.4s;}
.lunbowrap ul li:hover .not{display: none;transition: all 0.4s;}
.item-link:hover{background-color: #fff;color: rgba(0,193,222,1);transition: all 0.3s;}


.sixmodule{margin: 76px auto;overflow: hidden;}
.sore{background-color: #f5f5f5;padding: 80px 0;}
.sixtitle{color: #373d41;text-align: center;font: 24px/24px "微软雅黑";font-weight: 500;}
.link_title{font: 14px/24px "微软雅黑";color: #373d41;display: block;text-align: center;padding: 20px 0}
.sixbox ul{max-width: 1200px;margin: 0 auto;}
.sixbox ul li{text-align: center;width: 33%;float: left;padding: 10px 0;}
.six-icon{width: 75px;height: 75px;margin: 0 auto;}
.icon-p1{background: url(../images/61.jpg) no-repeat;background-position: 0 0;background-size: 100%;transition: all 0.4s;}
.icon-p2{background: url(../images/62.jpg) no-repeat;background-position: 0 0;background-size: 100%;}
.icon-p3{background: url(../images/63.jpg) no-repeat;background-position: 0 0;background-size: 100%;}
.icon-p4{background: url(../images/64.jpg) no-repeat;background-position: 0 0;background-size: 100%;}
.icon-p5{background: url(../images/65.jpg) no-repeat;background-position: 0 0;background-size: 100%;}
.icon-p6{background: url(../images/66.jpg) no-repeat;background-position: 0 0;background-size: 100%;}
.sixlist a{padding: 8px;color: #a9b0b4;font-size: 14px;}
.sixlist{color:#a9b0b4}
.sixbox ul li h2{margin: 15px 0;}
.sixbox ul li a:hover .six-icon.icon-p1{
	-webkit-animation: run 1.5s steps(59, end) 1s ;
animation: run 1.5s steps(59, end) 1s ;}

.sixbox ul li a:hover .six-icon.icon-p2{
	-webkit-animation: run 1s steps(59, end) 1s ;
animation: run 1s steps(59, end) 1s}

.sixbox ul li a:hover .six-icon.icon-p3{
	-webkit-animation: run 1s steps(59, end) 1s ;
animation: run 1s steps(59, end) 1s}

.sixbox ul li a:hover .six-icon.icon-p4{
	-webkit-animation: run 1s steps(59, end) 1s ;
animation: run 1s steps(59, end) 1s}

.sixbox ul li a:hover .six-icon.icon-p5{
	-webkit-animation: run 1s steps(59, end) 1s ;
animation: run 1s steps(59, end) 1s}

.sixbox ul li a:hover .six-icon.icon-p6{
	-webkit-animation: run 1s steps(59, end) 1s ;
animation: run 1s steps(59, end) 1s}

@keyframes run{
    0%{  background-position: 0 0 }
    100%{ background-position: 0 -4425px}
}

@-webkit-keyframes run{
    0%{  background-position: 0 0 }
    100%{ background-position: 0 -4425px}
}
    
/*@keyframes a1{
0% {background-position: 0 0;}
35% {background-position: 0 -1578px;}
75% {background-position: 0 -2578px;}
100%{background-position: 0 -4425px;}
}
@-webkit-keyframes a1{
0% {background-position: 0 0;}
35% {background-position: 0 -1578px;}
75% {background-position: 0 -2578px;}
100%{background-position: 0 -4425px;}
}*/













.sorelist{max-width: 1200px;overflow: hidden;margin: 0 auto;}
.sorebox{padding: 0 10px;float:left;overflow: hidden;width: 31%;}
.soreimg{border:1px solid #c5d8db;overflow: hidden;margin-bottom: 15px;}
.soreimg img{width: 100%;transition: all 0.3s;overflow: hidden;}
.soreimg p{padding: 15px;background-color: #fff;}
.soreimg:hover img{transform: scale(1.2);}
.height{height: 170px;overflow: hidden;}
.sorebox p{font-size: 14px;color: #373d41;line-height: 28px;}

.math{width: 100%;height: 100px;text-align: center;background-color: #00C1DE;position: relative;}
.math p{font-size: 24px;line-height: 100px;color: #fff;}
#math{font-style: normal;}
.area{width: 100%;padding: 80px 0;overflow: hidden;}
.areaimg{max-width: 1200px;margin: 0 auto;position: relative;}
.arealist{min-width: 1000px;margin: 0 auto;margin-top: 45px;overflow: hidden;padding-left: 200px;}
.l1{height: 50px;float: left;padding: 0 30px;}
.l1 img{width: 50px;height: 50px;float: left;}
.l1 p{font-size: 12px;line-height: 50px;padding-left: 10px;float: left}
.areaq{width: 75px;height: 75px;position: absolute;/*background-color: #ccc;*/left: 226px;top: 158px;}
.areaq.q1{left: 312px;top: 218px;}
.areaq.q2{left: 550px;top: 35px;}
.areaq.q3{left: 680px;top: 150px;}
.areaq.q4{left: 950px;top: 100px;}
.areaq.q6{left: 950px;top: 400px;}
.areaq span{z-index: 1;
background-color: #6ad7e9;
border: 1px solid rgba(0,205,236,.37);display:block;border-radius:50%; width: 10px;height: 10px;position: absolute;left: 50%;margin-left: -5px;top: 50%;margin-top: -5px;}
.place{position: absolute;left: 50px;
    top: 30px;}
.point:after{content: "";
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 50%;
border: 1px solid #00cdec;
opacity: 0;
-webkit-animation: ripple 3.5s ease-out 300ms infinite;
animation: ripple 3.5s ease-out 300ms infinite;}

/*animation-name  规定需要绑定到选择器的 keyframe 名称。。
animation-duration  规定完成动画所花费的时间，以秒或毫秒计。
animation-timing-function 规定动画的速度曲线。
animation-delay 规定在动画开始之前的延迟。
animation-iteration-count 规定动画应该播放的次数。
animation-direction 规定是否应该轮流反向播放动画。*/


.point-10:after{content: "";
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 50%;
border: 1px solid #00cdec;
opacity: 0;
-webkit-animation: r10 4s ease-out 300ms infinite;
animation: r10 4s ease-out 300ms infinite;}


.point-50:after{content: "";
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 50%;
border: 1px solid #00cdec;
opacity: 0;
-webkit-animation: r50 4.5s ease-out 300ms infinite;
animation: r50 4.5s ease-out 300ms infinite;}

.point-70:after{content: "";
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 50%;
border: 1px solid #00cdec;
opacity: 0;
-webkit-animation: r70 4.5s ease-out 225ms infinite;
animation: r70 4.5s ease-out 225ms infinite;}

.point-90:after{content: "";
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 50%;
border: 1px solid #00cdec;
opacity: 0;
-webkit-animation: r90 4.5s ease-out 225ms infinite;
animation: r90 4.5s ease-out 225ms infinite;}


.point-110:after{content: "";
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 50%;
border: 1px solid #00cdec;
opacity: 0;
-webkit-animation: r110 5.5s ease-out 225ms infinite;
animation: r110 5.5s ease-out 225ms infinite;}


.point,.point-10,.point-50,.point-70,.point-90,.point-110{ position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
-webkit-border-radius: 50%;
-webkit-background-clip: padding-box;
-moz-border-radius: 50%;
-moz-background-clip: padding;
border-radius: 50%;
background-clip: padding-box;
background: transparent;}

@keyframes r10{
0% {-webkit-transform: scale(0.0);opacity: 0;}
5% {-webkit-transform: scale(0.3);opacity: 0.5;}
15% {-webkit-transform: scale(0.5);opacity: 0.8;}
35%{-webkit-transform: scale(0.7);opacity: 0.0;}
}
@-webkit-keyframes r10{
0% {-webkit-transform: scale(0.0);opacity: 0;}
5% {-webkit-transform: scale(0.3);opacity: 0.5;}
15% {-webkit-transform: scale(0.5);opacity: 0.8;}
35%{-webkit-transform: scale(0.7);opacity: 0.0;}
}


@keyframes r50{
0% {-webkit-transform: scale(0.0);opacity: 0;}
35% {-webkit-transform: scale(0.2);opacity: 0.5;}
75% {-webkit-transform: scale(0.7);opacity: 0.8;}
100%{-webkit-transform: scale(0.8);opacity: 0.0;}
}
@-webkit-keyframes r50{
0% {-webkit-transform: scale(0.0);opacity: 0;}
35% {-webkit-transform: scale(0.2);opacity: 0.5;}
75% {-webkit-transform: scale(0.7);opacity: 0.8;}
100%{-webkit-transform: scale(0.8);opacity: 0.0;}
}


@keyframes r70{
0% {-webkit-transform: scale(0.0);opacity: 0.2;}
50% {-webkit-transform: scale(0.7);opacity: 0.6;}
100% {-webkit-transform: scale(1.0);opacity: 0.0;}
}
@-webkit-keyframes r70{
0% {-webkit-transform: scale(0.0);opacity: 0.2;}
50% {-webkit-transform: scale(0.7);opacity: 0.6;}
100% {-webkit-transform: scale(1.0);opacity: 0.0;}
}

@keyframes r90{
0% {-webkit-transform: scale(0.0);opacity: 0.2;}
50% {-webkit-transform: scale(1.0);opacity: 0.5;}
75% {-webkit-transform: scale(1.2);opacity: 0.6;}
100% {-webkit-transform: scale(1.3);opacity: 0.0;}
}
@-webkit-keyframes r90{
0% {-webkit-transform: scale(0.0);opacity: 0.2;}
50% {-webkit-transform: scale(1.0);opacity: 0.5;}
75% {-webkit-transform: scale(1.2);opacity: 0.6;}
100% {-webkit-transform: scale(1.3);opacity: 0.0;}
}

@keyframes r110{
0% {-webkit-transform: scale(0.0);opacity: 0.2;}
50% {-webkit-transform: scale(1.5);opacity: 0.5;}
75% {-webkit-transform: scale(1.8);opacity: 0.8;}
100% {-webkit-transform: scale(1.9);opacity: 0.0;}
}
@-webkit-keyframes r110{
0% {-webkit-transform: scale(0.0);opacity: 0.2;}
50% {-webkit-transform: scale(1.5);opacity: 0.5;}
75% {-webkit-transform: scale(1.8);opacity: 0.8;}
100% {-webkit-transform: scale(1.9);opacity: 0.0;}
}


@keyframes ripple
{
0% {-webkit-transform: scale(0.0);opacity: 0;}
25% {-webkit-transform: scale(0.5);opacity: 0.5;}
50% {-webkit-transform: scale(0.8);opacity: 0.8;}
75%{-webkit-transform: scale(0.9);opacity: 0.0;}
}

@-webkit-keyframes ripple /*Safari and Chrome*/
{
0% {-webkit-transform: scale(0.0);opacity: 0;}
25% {-webkit-transform: scale(0.5);opacity: 0.5;}
50% {-webkit-transform: scale(0.8);opacity: 0.8;}
75%{-webkit-transform: scale(0.9);opacity: 0.0;}
}


/*合作伙伴*/
.partner{width: 1200px;margin: 40px auto;overflow: hidden;}
.parlist{width: 1200px;font-size: 0;}
.parlist div{width: 20%;margin-top: 15px;display: inline-block;}
.parlist div img{height: 130px;padding-top: 20px;}

/*zuce*/
.zuc{width: 100%;height: 200px;background-color: #00c1de;position: relative;}
.contentp{position: absolute;top: 35px;left: 0;right: 0;bottom: 0;text-align: center;}
.contentp p{font: 24px/36px "微软雅黑";color: #fff;font-weight: bold;margin-top: 36px;margin-bottom: 25px;}
.contentp a{    border: 1px solid #fff;height: 36px;padding: 8px 28px;line-height: 36px;font-size: 16px;margin-top: 25px;color: #fff;}
.sug{background-position: 0px -74.5812px;background: url(../images/1.svg) no-repeat top center;background-size: 100%;opacity: 0.4;position: absolute;left: 0;right: 0;top: 0;height: 200px; }

/*foot*/
.footer{box-sizing: border-box;}
.footer a{transition: all 0.3s;}
.footer a:hover{color: #00c1de}
.foot-top{padding-top: 30px;
background-color: #373d41;
min-height: 220px;}
.y-row{width: 1200px;margin: 0 auto;position: relative;border-bottom: 1px solid #4b5054;overflow: hidden;padding-bottom: 20px;}
.zhixun{width: 200px;padding-left: 80px;float: left;}
.zhixun h1,.zhixun h2{color: #fff;font-weight:500;}
.zhixun img{width: 50px;position: absolute;left: 0;}
.zhixun ul{margin-top: 10px;}
.zhixun ul li{height: 30px;line-height: 30px;}
.zhixun ul li a{color:#9b9ea0}

.listf{border-left: 1px solid #4b5054;
box-sizing: border-box;
padding-left: 130px;width: 920px;height: 268px;float: left;}
.listf li{width: 22%;float: left;font-weight: bold;font-size: 12px;}
.listf li a{color: #d7d8d9}
.listf li.last{width: 12%;}
.listf ul,.listf ul li{width: 100%;}
.listf ul{margin-top: 14px;}
.listf ul li{line-height: 25px;height: 25px;}
.listf ul li a{font-size: 12px;font-weight: 400;color: #9b9ea0}
.foot-y,.copyright{    padding-top: 20px;
background-color: #373d41;
}
.y-1{overflow: hidden;margin: 10px auto;}
.y-1 h3{font-size: 12px;color: #9b9ea0;float: left;}
.y-1 ul{float: left;width: 1120px;margin-left: 32px;}
.y-1 ul li{float: left;width: 11%;}
.y-1 ul li a{color: #73777a}
.copyright p a{color: #9b9ea0;font-size: 16px;padding: 0 25px;}
.copyright p a:first-child{padding: 0;}
.link-wrap{margin-top: 32px;}
.link-wrap a{color: #73777a;font-size: 14px!important;margin-right: 10px;margin-top: 10px;padding: 0!important;display: inline-block;}
.select-choice,.row{margin: 0 auto;width: 1200px;}
.b1{font-size: 14px;color: #73777a;margin-top: 10px;}
.w1{width: 80px;height: 80px;}
.listf ul.lastw1 li{height: auto;}