
.wrap .warpTop.mess{background-color: rgba(50,50,50,1);}
.banner{min-width: 1200px;margin: 0 auto;padding-top: 80px;max-width: 1440px;}
.banner img{width: 100%;}
.bg{position: absolute;top: 230px;width: 1200px;left: 100px;}
.bg h2{font-size: 38px;font-weight: 400;}
.textmessages{width: 700px;display: block;font-size: 14px;line-height: 24px;margin-top: 19px;}
.yello{font-style: normal;color: rgb(255, 165, 0);font-weight:bold;}
.buy{color: #00a2ca}
.buy:hover{text-decoration: underline;}
.btn a{width: 10%;background-color: #00a2ca;display: inline-block;margin-right: 15px;color: #fff;margin-top: 20px;height: 35px;line-height: 35px;text-align: center;}
.btn a:last-child{border:1px solid #00a2ca;color: #00a2ca;background: #fff;}
.nav{width: 100%;margin: 0 auto;}
.main{width: 1200px;margin: 0 auto;}
.nav ul{margin: 0 auto;width: 500px;height: 50px;}
.nav ul li{width: 25%;height: 50px;line-height: 50px;float: left;text-align: center;}
